<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Accounts Keeper{% endblock %}</title>
    <meta charset="utf-8">
    {% stylesheets 'bundles/paveldacaraccountskeeper/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
