{%  extends 'PaveldacarAccountsKeeperBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Ajouter une dépense{% endblock %}

{%  block body %}
    <h1>Ajouter une dépense</h1>
    <p>Cette page permettra l'ajout d'une nouvelle dépense à l'aide d'un formulaire.</p>
    {{ form(form) }}
{%  endblock %}
