<!DOCTYPE html>
<html>
<head>
    <title>Dépenses</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Dépenses</h1>
    <p>Cette page contiendra les dépenses effectuées par {{ user }} au mois de {{ month }}.</p>
</body>
</html>
